<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger.%M\(%line\) - %msg %n</pattern>
    </encoder>
  </appender>

<!--   <appender name="LOGSTASH" class="com.cwbase.logback.RedisAppender">
    <source>mySource</source>
    <sourcePath>mySourcePath</sourcePath>
    <type>myApplication</type>
    <tags>production</tags>
    <host>pe0.crawford.localnet</host>
    <port>6379</port>
    <key>logstash</key>
  </appender> -->

  <logger name="org.springframework" level="INFO"/>

  <logger name="org.apache.catalina.core.ContainerBase" level="CRITICAL"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>